doctype html
html
	head
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(property='og:image', content='https://hackathon.tw/assets/ef2fd96f60a172840572d83a380e45cb.png')
		meta
		- for (var property in window.ogMeta)
			meta(property=property, content=window.ogMeta[property])
		
		title #{title}

		link(href='//cdn.jsdelivr.net/semantic-ui/2.1.4/semantic.min.css', media='all', rel='stylesheet', type='text/css')
		link(href='//fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
		script(src='//cdn.jsdelivr.net/jquery/2.1.4/jquery.min.js')
		script(src='//code.jquery.com/ui/1.11.4/jquery-ui.min.js')
		script(src='//code.jquery.com/color/jquery.color-2.1.2.min.js')
		script(src='//cdn.jsdelivr.net/semantic-ui/2.1.4/semantic.min.js')
		script(type='text/javascript', src='/assets/vendors.js')

		script.
			window.Fluky = {
				state: !{state}
			};

		block head

	body
	
		block body
