@import './animate_css';
@import './past-pin';
@import './pin';
@import './variables';
@import './map';

@mobile: 768px;
@tablet: 992px;

.ui.basic.segment.landing-page-header {
	background: rgb(21, 177, 201) url('../images/cover.jpg') no-repeat center center;
	background-size: cover;
	min-height: 520px;
	padding-top: 170px;
	margin: 0px;
	color: white;

	& h1 {
		font-size: 52px;
		text-shadow: 0 0 7px rgba(0,0,0,.5);
		margin-top: 0;
		margin-bottom: 25px;
	}

	& h2 {
		font-size: 24px;
		font-weight: normal;
		text-shadow: 0 0 7px rgba(0,0,0,.5);
	}

	& p {
		font-size: 18px;
		font-weight: lighter;
		text-shadow: 0 0 7px rgba(0,0,0,.5);
	}
	.button {
		margin-bottom: 10px;
	}
}

.ui.basic.segment.register {
	background: white url('../images/color-cneter-bg.png') no-repeat top center;
	background-size: cover;
	min-height: 1000px;
}

.register .shadow{
	box-shadow: 10px 15px 30px rgba(0,0,0,.3);
}

.main-page .ui.basic.segment {
	margin-top: 0px;
}

.nav {
	.item {
		padding-top: 5px!important; 
		padding-bottom: 5px!important; 
	}
	img {
		width: 40px;
	}
	.sign {
		.btn {
			padding-top: 13px!important;
		}
	}
}

section {
	padding-top: 40px;
	padding-bottom: 40px;
}

.section-white {
	color: black;
}

.section-green {
	background-color: @hackathon;
	color: white;
	.section-title {
		border-bottom: solid 3px white!important;
	}
}

.videos {
	padding-top: 65px!important;
	padding-bottom: 65px!important;
	h2 {
		cursor: pointer;
		i {
			font-size: 28px;
			display: inline-block;
		}
	}
}

.map {
	padding: 0!important;
}

.introduce {
	p {
		font-size: 18px;
		line-height: 30px;
	}
}

.ad {
	padding: 0!important;
}

.photos {
	padding-bottom: 0!important;
	.soft-ware {
		background-color: @softWare;
	}
	.hard-ware {
		background-color: @hardWare;
	}
	.student {
		background-color: @student;
	}
	.designer {
		background-color: @designer;
	}
	.skill {
		width: 50%!important;
		padding-top: 4%;
		padding-bottom: 4%;
	}
	.text-height {
		margin-top: 24%;
		margin-bottom: 20%;
		color: @grey700;
	}
}

.works {
	background: url('../images/color-bg.png') no-repeat top center;
	background-size: contain;
	p {
		font-size: 18px;
		line-height: 30px;
	}
}

.speakers {
	.show-prpfile {
		cursor: pointer;
	}
}


@media screen and (max-width: @mobile) {
	.ui.basic.segment.landing-page-header {
		padding-top: 120px;
		& h1 {
			margin-bottom: 0;
		}
	}
	.photos {
		.text-height {
			margin: 18% 0;
			font-size: 14px!important;
		}
	}
	.register {
		h1 {
			font-size: 22px!important;
			.sub {
				font-size: 18px!important;
			}
		}
	}
}
